.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.card-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px;
    border-radius: 12px;
}

.modal-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-heading {
    margin-top: 0;
    font-size: 40px;
}

.modal-info {
    margin-bottom: 40px;
}
